In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s3e21/sample_submission.csv
/kaggle/input/dissolved-oxygen-prediction-in-river-water/train.csv
/kaggle/input/dissolved-oxygen-prediction-in-river-water/test.csv

# 😵‍💫 Improve a Fixed Model the Data-Centric Way! 😵‍💫¶ (Second Attempt)
Playground Series - Season 3, Episode 21

This is a very different type of challenge! For this challenge, your task is to improve a dataset that is being used to train a random forest model; in other words, your submission will be training data, not predictions. A random forest model will be trained on your submission, used to make predictions, and then those predictions will be used to generate your score.

The dataset for this competition is a synthetic dataset based off of the Dissolved oxygen prediction in river water dataset. You are free to use the original in any way that you find useful.

## 🔶 Look at the big Picture

### 🔸 **Frame the problem**
*   🟢 **Goal:** Is to fill the columns in the dataFrame such a way that the dataframe fed to the given model gives close to 0 RMSE. 🗒
*   🟢 **End Result:** multiple Columns to be predicted, changed such a way that models predict well 🗒
*   🟢 **Problem Type:** not exactly a regression. model has been already provided,
*   🟢 **Learning Type:** Supervised Learning
*   🟢 **Variate:** MultiVariate (need to predict multiple target with 1 label)
*   🟢 **Features:** single features

### 🔸 **Select performance measure**:
🟢 using RMSE 🗒.  This was given in the problem set.

### 🔸 **Assumptions**: `none`

---

## 🔶**Get the Data**

* 🟢 Add the sample_submission (as there are no train and test set in this problem) from the compition data
* 🟢 Read the sample_submission csv into a dataframe

In [2]:
#taking original training data from original data source

og_train_set = pd.read_csv('/kaggle/input/dissolved-oxygen-prediction-in-river-water/train.csv', index_col='Id')

#### 🔸 **Take Quick look**
* 🟢 .head() to see the index columns and quick look at the data 
* 🟢 .shape to see the size of training set
* 🟢 .info() to see the data types and missing values 
* 🟢 .value_counts() on categorical data to check if all the categories are equaly represented and to check the weightages.
* 🟢 .describe() to check mean and std deviation, min, max this gives a hint of how data is distributed and what is the max values, min values and is there any scaled data or not.

🚨 **Note:** Specially for this problem we are looking at the submision set so that we can have a clone of this dataframe structure and fill the data

In [3]:
og_train_set.head()

,target,O2_1,O2_2,O2_3,O2_4,O2_5,O2_6,O2_7,NH4_1,NH4_2,...,NO3_5,NO3_6,NO3_7,BOD5_1,BOD5_2,BOD5_3,BOD5_4,BOD5_5,BOD5_6,BOD5_7
Id,,,,,,,,,,,,,,,,,,,,,
0,12.58,9.875,9.20,NaN,NaN,NaN,NaN,NaN,0.690,1.040,...,NaN,NaN,NaN,4.80,5.850,NaN,NaN,NaN,NaN,NaN
3,9.37,10.300,10.75,NaN,NaN,NaN,NaN,NaN,0.710,0.725,...,NaN,NaN,NaN,5.88,6.835,NaN,NaN,NaN,NaN,NaN
4,8.35,8.290,7.90,NaN,NaN,NaN,NaN,NaN,2.210,2.210,...,NaN,NaN,NaN,3.20,2.700,NaN,NaN,NaN,NaN,NaN
5,9.57,8.820,6.80,NaN,NaN,NaN,NaN,NaN,0.595,0.675,...,NaN,NaN,NaN,7.70,7.055,NaN,NaN,NaN,NaN,NaN
6,6.00,6.000,6.50,NaN,NaN,NaN,NaN,NaN,0.600,0.900,...,NaN,NaN,NaN,5.50,5.300,NaN,NaN,NaN,NaN,NaN

In [4]:
og_train_set.shape

(147, 36)

In [5]:
og_train_set.describe()

,target,O2_1,O2_2,O2_3,O2_4,O2_5,O2_6,O2_7,NH4_1,NH4_2,...,NO3_5,NO3_6,NO3_7,BOD5_1,BOD5_2,BOD5_3,BOD5_4,BOD5_5,BOD5_6,BOD5_7
count,147.000000,145.000000,145.000000,32.000000,31.000000,33.000000,37.000000,37.000000,145.000000,145.000000,...,33.000000,37.000000,37.000000,145.000000,145.000000,32.000000,31.000000,33.000000,37.000000,37.000000
mean,9.211497,9.168506,9.148126,10.002813,8.483226,6.095152,9.396892,7.598243,0.588168,0.660910,...,6.982515,3.373689,3.200135,4.972724,4.906379,4.665312,5.871935,8.678788,3.884054,3.957703
std,2.886614,4.188197,3.746898,2.667096,2.527239,3.279915,2.848153,3.409060,0.462262,0.591798,...,4.466642,2.823756,2.868225,2.044057,2.001381,2.057903,2.555560,5.299039,1.615542,1.916813
min,1.900000,2.200000,2.200000,4.660000,4.900000,0.000000,0.000000,0.000000,0.040000,0.020000,...,0.670000,0.100000,0.000000,0.900000,1.040000,2.040000,2.480000,2.880000,1.000000,1.600000
25%,7.375000,7.050000,7.200000,8.100000,6.865000,3.290000,8.800000,6.170000,0.230000,0.215000,...,4.100000,1.440000,1.610000,3.500000,3.400000,3.325000,4.445000,5.840000,2.900000,2.900000
50%,8.800000,8.700000,8.566667,9.522500,7.800000,5.800000,9.805000,7.150000,0.425000,0.440000,...,6.050000,2.650000,1.900000,4.800000,4.833333,4.150000,5.500000,7.300000,3.400000,3.500000
75%,10.850000,10.600000,10.500000,11.611250,9.232500,9.500000,10.440000,8.700000,0.800000,0.910000,...,8.550000,4.320000,3.800000,6.450000,6.200000,5.970000,6.400000,8.415000,4.800000,4.400000
max,19.100000,46.950000,40.900000,15.900000,15.400000,11.800000,13.700000,15.900000,2.400000,3.600000,...,20.050000,10.200000,13.300000,10.900000,11.000000,10.665000,14.790000,27.120000,8.540000,10.370000

In [6]:
og_train_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147 entries, 0 to 214
Data columns (total 36 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  147 non-null    float64
 1   O2_1    145 non-null    float64
 2   O2_2    145 non-null    float64
 3   O2_3    32 non-null     float64
 4   O2_4    31 non-null     float64
 5   O2_5    33 non-null     float64
 6   O2_6    37 non-null     float64
 7   O2_7    37 non-null     float64
 8   NH4_1   145 non-null    float64
 9   NH4_2   145 non-null    float64
 10  NH4_3   32 non-null     float64
 11  NH4_4   31 non-null     float64
 12  NH4_5   33 non-null     float64
 13  NH4_6   37 non-null     float64
 14  NH4_7   37 non-null     float64
 15  NO2_1   145 non-null    float64
 16  NO2_2   145 non-null    float64
 17  NO2_3   32 non-null     float64
 18  NO2_4   31 non-null     float64
 19  NO2_5   33 non-null     float64
 20  NO2_6   37 non-null     float64
 21  NO2_7   37 non-null     float64
 22  NO3_1   145 non-null    float64
 23  NO3_2   145 non-null    float64
 24  NO3_3   32 non-null     float64
 25  NO3_4   31 non-null     float64
 26  NO3_5   33 non-null     float64
 27  NO3_6   37 non-null     float64
 28  NO3_7   37 non-null     float64
 29  BOD5_1  145 non-null    float64
 30  BOD5_2  145 non-null    float64
 31  BOD5_3  32 non-null     float64
 32  BOD5_4  31 non-null     float64
 33  BOD5_5  33 non-null     float64
 34  BOD5_6  37 non-null     float64
 35  BOD5_7  37 non-null     float64
dtypes: float64(36)
memory usage: 42.5 KB

In [7]:
# collecting required data from the og train set
description = og_train_set.describe()
columns = og_train_set.columns
columns = columns.drop("target")
print(columns)

Index(['O2_1', 'O2_2', 'O2_3', 'O2_4', 'O2_5', 'O2_6', 'O2_7', 'NH4_1',
       'NH4_2', 'NH4_3', 'NH4_4', 'NH4_5', 'NH4_6', 'NH4_7', 'NO2_1', 'NO2_2',
       'NO2_3', 'NO2_4', 'NO2_5', 'NO2_6', 'NO2_7', 'NO3_1', 'NO3_2', 'NO3_3',
       'NO3_4', 'NO3_5', 'NO3_6', 'NO3_7', 'BOD5_1', 'BOD5_2', 'BOD5_3',
       'BOD5_4', 'BOD5_5', 'BOD5_6', 'BOD5_7'],
      dtype='object')

In [8]:
# from the og data set we are checking what percentage of 0' or missing data are there in each column
def fill_missing_data_perc(df):
    df = df.fillna(0)
    return df

In [9]:
# counting the persentage of 0's in each column
def get_perc_of_0_value():
    temp_df = fill_missing_data_perc(og_train_set)
    perc_0 = np.array([])
    for column in columns:
        perc = (((temp_df[column]==0).sum()/len(og_train_set[column])) * 100).round()
        perc_0 = np.append(perc_0, {'col': column, 'perc': perc})
    return perc_0

column_0_ratio = get_perc_of_0_value()
column_0_ratio

array([{'col': 'O2_1', 'perc': 1.0}, {'col': 'O2_2', 'perc': 1.0},
       {'col': 'O2_3', 'perc': 78.0}, {'col': 'O2_4', 'perc': 79.0},
       {'col': 'O2_5', 'perc': 78.0}, {'col': 'O2_6', 'perc': 76.0},
       {'col': 'O2_7', 'perc': 76.0}, {'col': 'NH4_1', 'perc': 1.0},
       {'col': 'NH4_2', 'perc': 1.0}, {'col': 'NH4_3', 'perc': 78.0},
       {'col': 'NH4_4', 'perc': 79.0}, {'col': 'NH4_5', 'perc': 78.0},
       {'col': 'NH4_6', 'perc': 75.0}, {'col': 'NH4_7', 'perc': 75.0},
       {'col': 'NO2_1', 'perc': 2.0}, {'col': 'NO2_2', 'perc': 2.0},
       {'col': 'NO2_3', 'perc': 78.0}, {'col': 'NO2_4', 'perc': 79.0},
       {'col': 'NO2_5', 'perc': 78.0}, {'col': 'NO2_6', 'perc': 77.0},
       {'col': 'NO2_7', 'perc': 76.0}, {'col': 'NO3_1', 'perc': 4.0},
       {'col': 'NO3_2', 'perc': 3.0}, {'col': 'NO3_3', 'perc': 79.0},
       {'col': 'NO3_4', 'perc': 79.0}, {'col': 'NO3_5', 'perc': 78.0},
       {'col': 'NO3_6', 'perc': 75.0}, {'col': 'NO3_7', 'perc': 76.0},
       {'col': 'BOD5_1', 'perc': 1.0}, {'col': 'BOD5_2', 'perc': 1.0},
       {'col': 'BOD5_3', 'perc': 78.0}, {'col': 'BOD5_4', 'perc': 79.0},
       {'col': 'BOD5_5', 'perc': 78.0}, {'col': 'BOD5_6', 'perc': 75.0},
       {'col': 'BOD5_7', 'perc': 75.0}], dtype=object)

In [10]:
# will try to drop all columns which has more than 70% 0s
col_list = np.array([])
col_list_fill_0 = np.array([])
for col_ratio in column_0_ratio:
    if col_ratio['perc'] < 70:
        col_list = np.append(col_list, col_ratio['col'])
    else:
        col_list_fill_0 = np.append(col_list_fill_0, col_ratio['col'])

In [11]:
# mid submission
# col_list = np.append(col_list, "target")
# col_list = np.append(col_list, col_list_fill_0)
# df = og_train_set[col_list]
# df.loc[:, col_list_fill_0] = 0
# df.shape

In [12]:
# mid submission
# df.to_csv('train_set.csv')

1. So first lets create a data frame with the same columns
2. Lets pick a size and fill 1's in them
3. Lets ppopulate 0 in same ratio of that of our og_test_set
4. Lets identify 1 in each row and fill the 25% - 75% random values in it

In [13]:
import random

def fill_0_in_col_with_ratio(df, column_name, ratio, size):
    no_of_ids = (size * (ratio / 100)).round()
    random_numbers = random.sample(range(0, size), int(no_of_ids))
    df.loc[random_numbers, column_name] = 0
    return df

In [14]:
column_list_to_populate = ['O2_1', 
                           'O2_2', 
                           'NH4_1', 
                           'NH4_2', 
                           'NO2_1', 
                           'NO2_2', 
                           'NO3_1', 
                           'NO3_2', 
                           'BOD5_1', 
                           'BOD5_2']
def fill_rest_1_with_25_75_ratio(df, desc):
    for column in column_list_to_populate:
        row_indices = df.index[df[column] == 1].tolist()
        
        for row_index in row_indices:
            random_number = np.random.uniform(desc[column]['25%'], desc[column]['75%'])
            df.loc[row_index, column] = random_number
            
    return df

In [15]:
# creating a fresh set of training dat with same columns

def recreating_training_set(size):
    train_set = pd.DataFrame(columns=columns)
    train_set = train_set.append(pd.DataFrame(np.ones((size, len(columns))), columns=columns), ignore_index=True)
    for col_ratio in column_0_ratio:
        train_set = fill_0_in_col_with_ratio(train_set, col_ratio['col'], col_ratio['perc'], size)
    train_set = fill_rest_1_with_25_75_ratio(train_set, description)
    return train_set

In [16]:
train_set = recreating_training_set(3500)
train_set

/tmp/ipykernel_20/93270262.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_set = train_set.append(pd.DataFrame(np.ones((size, len(columns))), columns=columns), ignore_index=True)

,O2_1,O2_2,O2_3,O2_4,O2_5,O2_6,O2_7,NH4_1,NH4_2,NH4_3,...,NO3_5,NO3_6,NO3_7,BOD5_1,BOD5_2,BOD5_3,BOD5_4,BOD5_5,BOD5_6,BOD5_7
0,10.370663,7.610904,0.0,0.0,0.0,1.0,0.0,0.367744,0.864161,1.0,...,0.0,0.0,1.0,4.223685,4.474328,0.0,0.0,0.0,0.0,1.0
1,7.766804,8.169369,0.0,1.0,0.0,1.0,0.0,0.360241,0.428813,0.0,...,0.0,0.0,0.0,5.317711,5.566099,1.0,1.0,0.0,1.0,0.0
2,10.286438,9.408327,0.0,0.0,0.0,0.0,0.0,0.000000,0.667056,0.0,...,0.0,0.0,0.0,3.909200,3.858567,1.0,0.0,1.0,1.0,0.0
3,9.495014,7.991389,1.0,1.0,0.0,1.0,1.0,0.464323,0.270894,0.0,...,0.0,0.0,0.0,4.201683,3.568801,1.0,1.0,0.0,0.0,1.0
4,9.240637,8.514619,1.0,0.0,0.0,1.0,1.0,0.482703,0.549092,0.0,...,0.0,0.0,1.0,6.343972,3.865916,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,8.885977,9.609303,0.0,1.0,0.0,0.0,1.0,0.308783,0.637587,0.0,...,0.0,0.0,0.0,6.194329,5.657475,1.0,0.0,0.0,0.0,0.0
3496,8.767238,10.265874,0.0,0.0,0.0,0.0,0.0,0.435891,0.560150,0.0,...,0.0,0.0,1.0,5.779962,4.125474,1.0,0.0,0.0,0.0,0.0
3497,7.213357,8.024173,0.0,0.0,0.0,0.0,0.0,0.571247,0.886728,0.0,...,0.0,0.0,0.0,4.995542,4.071979,0.0,0.0,0.0,0.0,0.0
3498,8.725928,10.283068,0.0,0.0,0.0,0.0,1.0,0.699573,0.276840,0.0,...,0.0,0.0,0.0,4.678759,4.413671,0.0,1.0,0.0,0.0,0.0
3499,8.205434,8.573579,1.0,0.0,0.0,1.0,0.0,0.490555,0.487729,0.0,...,0.0,0.0,0.0,4.405146,5.854172,0.0,0.0,0.0,1.0,0.0

In [17]:
# Now that we have similar data of that of og_train will try to generate targets with given model
from sklearn.ensemble import RandomForestRegressor

# taking submission set to train
sub_train_set = pd.read_csv('/kaggle/input/playground-series-s3e21/sample_submission.csv', index_col="id")

X_test = sub_train_set['target']
y_train = sub_train_set.pop('target') # train is your submission!
rf = RandomForestRegressor(
       n_estimators=1000,
       max_depth=7,
       n_jobs=-1,
       random_state=42)
rf.fit(sub_train_set, X_test)

# train_set.rename(columns={'Id': 'id'}, inplace=True)
# train_set.set_index('id', inplace=True)
# train_set
y_hat = rf.predict(train_set) # test set is hidden from you
y_hat

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

array([ 9.86013202,  8.02308024, 10.27568336, ...,  8.04058601,
        8.71246742,  8.76163901])

In [18]:
train_set['target'] = y_hat

In [19]:
train_set.index.name = 'id'
train_set.replace(1, 0, inplace=True)
train_set.to_csv('submission2.csv')

# Improving the score

### Lets take another look at the og_train_set and then we will see the column and data patterns

In [20]:
pattern_df = og_train_set.copy()
pattern_df = pattern_df.fillna(0)

In [21]:
def fill_with_1_or_0(value):
    return 1 if value > 0 else 0

In [22]:
pattern_df = pattern_df.applymap(fill_with_1_or_0)

In [23]:
concatenated_strings = pattern_df.apply(lambda row: ''.join(map(str, row)), axis=1)
np_array = np.array(concatenated_strings)

In [24]:
np_array.shape
unique_values, counts = np.unique(np_array, return_counts=True)
unique_values
counts

for value, count in zip(unique_values, counts):
    print(f"Value: {value}, Count: {count}")

Value: 100001100000110000011000001100000110, Count: 1
Value: 101110000111000011100001110000111000, Count: 1
Value: 110001111000111100011110001101000111, Count: 1
Value: 111000001100000000000000000001100000, Count: 1
Value: 111000001100000110000000000001100000, Count: 2
Value: 111000001100000110000001000001100000, Count: 1
Value: 111000001100000110000011000001100000, Count: 91
Value: 111000001100011110001111000111100011, Count: 1
Value: 111000001100100110010011001001100100, Count: 1
Value: 111000011100001110000111000011100001, Count: 2
Value: 111000111100011110000111000111100011, Count: 1
Value: 111000111100011110001111000111100011, Count: 5
Value: 111001001100100110010011001001100100, Count: 1
Value: 111001111100111110010111001111100111, Count: 1
Value: 111001111100111110011111001111100111, Count: 5
Value: 111010111101011110101111010111101011, Count: 1
Value: 111101001110100111010011101001110100, Count: 2
Value: 111110001111000111100011110001111000, Count: 6
Value: 111110001111011111101111110111111011, Count: 1
Value: 111110111111011111101111010111111011, Count: 1
Value: 111111001111100111110011111001111100, Count: 2
Value: 111111101111110111111011111101111110, Count: 1
Value: 111111111111111111110111111111111111, Count: 1
Value: 111111111111111111111011111111111111, Count: 1
Value: 111111111111111111111111111111111111, Count: 16

In [25]:
# So we have 91 0f these records as Value: 
# 111000001100000110000011000001100000, Count: 91
# So What we do is lets, identify all the columns which falls under this pattern 
# and try to fill our dataframe

print(pattern_df.columns)

# 111 00000 11 00000 11 00000 11 00000 11 00000 is
column_list_to_populate = ['O2_1', 
                           'O2_2', 
                           'NH4_1', 
                           'NH4_2', 
                           'NO2_1', 
                           'NO2_2', 
                           'NO3_1', 
                           'NO3_2', 
                           'BOD5_1', 
                           'BOD5_2']

Index(['target', 'O2_1', 'O2_2', 'O2_3', 'O2_4', 'O2_5', 'O2_6', 'O2_7',
       'NH4_1', 'NH4_2', 'NH4_3', 'NH4_4', 'NH4_5', 'NH4_6', 'NH4_7', 'NO2_1',
       'NO2_2', 'NO2_3', 'NO2_4', 'NO2_5', 'NO2_6', 'NO2_7', 'NO3_1', 'NO3_2',
       'NO3_3', 'NO3_4', 'NO3_5', 'NO3_6', 'NO3_7', 'BOD5_1', 'BOD5_2',
       'BOD5_3', 'BOD5_4', 'BOD5_5', 'BOD5_6', 'BOD5_7'],
      dtype='object')