In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s3e21/sample_submission.csv

# üòµ‚Äçüí´ Improve a Fixed Model the Data-Centric Way! üòµ‚Äçüí´
Playground Series - Season 3, Episode 21

This is a different type of competition. Instead of submitting predictions, your task is to submit a dataset that will be used to train a random forest regressor model. This model will then be used to make predictions against a hidden test dataset. Your score will be the Root Mean Square Error (RMSE) between the model predictions and ground truth of the test set.

## üî∂ Look at the big Picture

### üî∏ **Frame the problem**
*   üü¢ **Goal:** Is to fill the columns in the dataFrame such a way that the dataframe fed to the given model gives close to 0 RMSE. üóí
*   üü¢ **End Result:** multiple Columns to be predicted, changed such a way that models predict well üóí
*   üü¢ **Problem Type:** not exactly a regression. model has been already provided,
*   üü¢ **Learning Type:** Supervised Learning
*   üü¢ **Variate:** MultiVariate (need to predict multiple target with 1 label)
*   üü¢ **Features:** single features

### üî∏ **Select performance measure**:
üü¢ using RMSE üóí.  This was given in the problem set.

### üî∏ **Assumptions**: `none`

---

## üî∂**Get the Data**

* üü¢ Add the sample_submission (as there are no train and test set in this problem) from the compition data
* üü¢ Read the sample_submission csv into a dataframe

#### üî∏ **Take Quick look**
* üü¢ .head() to see the index columns and quick look at the data 
* üü¢ .shape to see the size of training set
* üü¢ .info() to see the data types and missing values 
* üü¢ .value_counts() on categorical data to check if all the categories are equaly represented and to check the weightages.
* üü¢ .describe() to check mean and std deviation, min, max this gives a hint of how data is distributed and what is the max values, min values and is there any scaled data or not.

üö® **Note:** Specially for this problem we are looking at the submision set so that we can have a clone of this dataframe structure and fill the data

In [2]:
import pandas as pd

submission_df = pd.read_csv('/kaggle/input/playground-series-s3e21/sample_submission.csv', index_col='id') #Index_col added post observation

In [3]:
# Checking the expected submission
submission_df.head()

,target,O2_1,O2_2,O2_3,O2_4,O2_5,O2_6,O2_7,NH4_1,NH4_2,...,NO3_5,NO3_6,NO3_7,BOD5_1,BOD5_2,BOD5_3,BOD5_4,BOD5_5,BOD5_6,BOD5_7
id,,,,,,,,,,,,,,,,,,,,,
0,8.59,7.500,9.00,9.545,9.265,8.110,8.43,7.15,0.180,0.200,...,4.95,1.730,1.800,4.800,3.15,10.665,10.465,16.645,5.75,10.37
1,9.10,13.533,40.90,8.770,9.265,6.015,10.07,7.15,1.107,1.027,...,20.05,9.530,7.695,4.550,6.95,2.040,5.200,5.725,2.95,2.23
2,8.21,3.710,5.42,8.770,9.265,4.550,10.07,7.15,0.020,0.020,...,4.58,3.025,3.960,4.935,4.95,4.725,6.075,6.750,3.50,3.17
3,8.39,8.700,8.10,9.500,9.200,5.200,8.67,6.67,0.280,0.270,...,8.45,2.070,1.730,6.300,4.70,3.500,6.200,8.670,2.90,7.37
4,8.07,8.050,8.65,7.960,9.265,3.290,10.07,7.15,0.360,0.435,...,2.02,1.730,0.760,4.800,4.97,3.950,2.800,8.400,3.50,3.90

In [4]:
# Not much of help, we know 36 columns and we might need to generate 3500 rows for submission
submission_df.shape

(3500, 36)

In [5]:
# all columns are float type.
submission_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3500 entries, 0 to 3499
Data columns (total 36 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  3500 non-null   float64
 1   O2_1    3500 non-null   float64
 2   O2_2    3500 non-null   float64
 3   O2_3    3500 non-null   float64
 4   O2_4    3500 non-null   float64
 5   O2_5    3500 non-null   float64
 6   O2_6    3500 non-null   float64
 7   O2_7    3500 non-null   float64
 8   NH4_1   3500 non-null   float64
 9   NH4_2   3500 non-null   float64
 10  NH4_3   3500 non-null   float64
 11  NH4_4   3500 non-null   float64
 12  NH4_5   3500 non-null   float64
 13  NH4_6   3500 non-null   float64
 14  NH4_7   3500 non-null   float64
 15  NO2_1   3500 non-null   float64
 16  NO2_2   3500 non-null   float64
 17  NO2_3   3500 non-null   float64
 18  NO2_4   3500 non-null   float64
 19  NO2_5   3500 non-null   float64
 20  NO2_6   3500 non-null   float64
 21  NO2_7   3500 non-null   float64
 22  NO3_1   3500 non-null   float64
 23  NO3_2   3500 non-null   float64
 24  NO3_3   3500 non-null   float64
 25  NO3_4   3500 non-null   float64
 26  NO3_5   3500 non-null   float64
 27  NO3_6   3500 non-null   float64
 28  NO3_7   3500 non-null   float64
 29  BOD5_1  3500 non-null   float64
 30  BOD5_2  3500 non-null   float64
 31  BOD5_3  3500 non-null   float64
 32  BOD5_4  3500 non-null   float64
 33  BOD5_5  3500 non-null   float64
 34  BOD5_6  3500 non-null   float64
 35  BOD5_7  3500 non-null   float64
dtypes: float64(36)
memory usage: 1011.7 KB

In [6]:
submission_df.describe()

,target,O2_1,O2_2,O2_3,O2_4,O2_5,O2_6,O2_7,NH4_1,NH4_2,...,NO3_5,NO3_6,NO3_7,BOD5_1,BOD5_2,BOD5_3,BOD5_4,BOD5_5,BOD5_6,BOD5_7
count,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000,...,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000
mean,8.473834,8.216993,9.291581,9.633064,8.065733,5.671581,9.461363,6.547433,0.340525,0.397956,...,8.710466,3.002243,3.242654,4.816718,4.754389,4.285660,5.968980,7.837995,3.750349,4.068639
std,1.885712,3.040743,6.817822,1.439039,1.463881,2.721399,1.140365,1.663266,0.284751,0.452237,...,6.438648,2.918355,2.713923,2.009161,1.547491,2.093388,2.576146,3.724861,1.682421,1.894632
min,1.300000,0.000000,0.000000,4.900000,2.300000,0.200000,0.000000,0.000000,0.020000,0.020000,...,0.044000,0.011000,0.000000,0.570000,0.089000,0.850000,2.025000,2.020000,0.364000,1.600000
25%,7.470000,7.100000,7.300000,8.770000,6.830000,4.550000,8.980000,5.877500,0.214500,0.200000,...,4.450000,1.140000,1.780000,3.520000,3.950000,2.290000,4.950000,5.725000,2.684000,2.900000
50%,8.280000,7.890000,8.300000,9.500000,7.980000,5.800000,9.430000,6.430000,0.247000,0.245000,...,6.054000,1.730000,1.800000,4.600000,4.800000,3.950000,5.725000,7.500000,3.500000,3.700000
75%,9.110000,9.100000,8.700000,9.545000,9.265000,7.015000,10.070000,7.150000,0.370000,0.405000,...,14.515000,3.025000,4.237500,5.000000,5.400000,4.725000,6.250000,8.400000,4.150000,4.450000
max,65.930000,46.950000,65.950000,16.900000,21.800000,59.400000,40.190000,15.900000,4.200000,3.600000,...,35.000000,19.355000,27.025000,11.650000,10.700000,19.800000,55.400000,82.450000,19.375000,10.370000